:root {
  font: 16px / 1 sans-serif;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(250, 248, 248);
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  margin: 0;
  height: 64px;
}
header ul {
  list-style: none;
  display: flex;
  margin: 1rem 1rem;
  padding: 0;
  align-items: center;
  color: #24292e;
}
header a {
  color: #24292e;
  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-decoration: none;
}
header li:not(:last-child) {
  margin-right: 1.5rem;
}

main {
  background-color: #f9fafb;
  margin-top: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-box-shadow: inset 0px 19px 5px 0px rgba(245, 245, 245, 1);
  -moz-box-shadow: inset 0px 19px 5px 0px rgba(245, 245, 245, 1);
  box-shadow: inset 0px 19px 5px 0px rgba(245, 245, 245, 1);
}
section {
  display: flex;
  justify-content: flex-start;
  align-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
}

article a img {
  border-radius: 15px;
  border-color: rgb(224, 224, 224);
  border-style: solid;
  border-width: 1.5px;
  background-color: white;
}
article {
  width: 400px;
  padding: 1rem;
  margin-left: 0.3rem;
  margin-top: 1.5rem;
}
article ul li a img {
  border-style: none;
}
article ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  font-size: 16px;
}
footer {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  border-top: 1px solid rgba(0, 0, 0, 0.15);
  padding-left: 20px;
  background-color: #f9fafb;
  padding: 20px;
  font-size: 14px;
}
header nav:nth-of-type(2) li:nth-of-type(2) {
  display: none;
}
@media (min-width: 700px) {
  header nav:nth-of-type(2) li:nth-of-type(2) {
    display: block;
  }
}

@media all and (min-width: 500px) {
  article a img {
    display: flex;
    justify-content: space-between;
    flex-flow: wrap;
  }
  article {
    margin: auto;
  }
}
